<div class="row">
    <div class="col-md-4"><h1 class="text-center">TO DO
    <%= render @to_do %>
    </div>
  
    <div class="col-md-4"><h1 class="text-center">DOING
    <%= render @doing %>
    </div>
    
    <div class="col-md-4"><h1 class="text-center">DONE</h1>
    <%= render @done %>
    </div>
  
</div>

<%= link_to 'New Task', new_task_path %>